openapi: 3.0.1
info:
  title: Devcon RapidPass
  description: Api Documentation for the Rapid Pass API.
  version: 1.0.0
servers:
  - url: 'https://api.rapidpass.com'
tags:
  - name: service-owner
    description: API for managing Service Owners resources
  - name: individual
    description: API for managing individuals resources

paths:
  /service-owners/register:
    post:
      tags:
        - service-owner
      summary: Register one or more data of the Service Owners
      operationId: registerServiceOwners
      parameters:
        - name: serviceOwners
          description: An array of Service Owners to be saved
          required: true
          in: body
          schema:
            $ref: '#/components/schemas/ServiceOwnersCollection'
      responses:
        '201':
          description: Data is saved.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/LinkCollection'
            application/json:
              schema:
                $ref: '#/components/schemas/LinkCollection'
        '500':
          description: Something went wrong with the request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service-owners/{serviceOwnerId}/addVehicles:
    post:
      tags:
        - service-owner
      summary: Add more vehicles to the service owner
      operationId: registerVehicles
      parameters:
        - name: serviceOwnerId
          description: ID of the service owner whose vehicle will be added
          required: true
          in: body
          schema:
            $ref: '#/components/schemas/VehicleCollection'
      responses:
        '201':
          description: Data is saved. Returns links to Vehicles added
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/LinkCollection'
            application/json:
              schema:
                $ref: '#/components/schemas/LinkCollection'
        '500':
          description: Something went wrong with the request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service-owners/{serviceOwnerId}/vehicles:
    get:
      tags:
        - service-owner
      summary: Get vehicles owned by the service owner
      operationId: getServiceOwnersVehicles
      parameters:
        - name: serviceOwnerId
          description: ID of the service owner whose vehicles will be retrieved
          required: true
          in: path
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: An array of vehicles owned by the Service Owner
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/VehicleCollection'
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleCollection'
        '500':
          description: Something went wrong with the request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service-owners/{serviceOwnerId}/vehicles/{vehicleId}:
    get:
      tags:
        - service-owner
      summary: Get specific vehicle owned by the service owner
      operationId: getServiceOwnersVehicle
      parameters:
        - name: serviceOwnerId
          description: ID of the service owner whose vehicles will be retrieved
          required: true
          in: path
          schema:
            type: integer
            format: int64
        - name: vehicleId
          description: ID of the vehicle to retrieve
          required: true
          in: path
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Vehicle found
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Vehicle'
            application/json:
              schema:
                $ref: '#/components/schemas/Vehicle'
        '404':
          description: Vehicle not found
        '500':
          description: Something went wrong with the request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      tags:
        - service-owner
      summary: Delete the vehicle owned by the service owner.
      operationId: deleteServiceOwnersVehicle
      parameters:
        - name: serviceOwnerId
          description: ID of the service owner whose vehicles will be retrieved
          required: true
          in: path
          schema:
            type: integer
            format: int64
        - name: vehicleId
          description: ID of the vehicle to retrieve
          required: true
          in: path
          schema:
            type: integer
            format: int64
      responses:
        '202':
          description: Vehicle has been deleted
        '404':
          description: Vehicle not found
        '500':
          description: Something went wrong with the request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service-owners/{serviceOwnerId}/vehicles/{vehicleId}/updateVehicle:
    put:
      tags:
        - service-owner
      summary: update specific vehicle owned by the service owner
      operationId: updateServiceOwnersVehicle
      parameters:
        - name: serviceOwnerId
          description: ID of the service owner whose vehicles will be retrieved
          required: true
          in: path
          schema:
            type: integer
            format: int64
        - name: vehicleId
          description: ID of the vehicle to retrieve
          required: true
          in: path
          schema:
            type: integer
            format: int64
      requestBody:
        description: Vehicle data that will replace the current data.
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/Vehicle'
          application/json:
            schema:
              $ref: '#/components/schemas/Vehicle'
      responses:
        '200':
          description: Vehicle updated. Returns link to the vehicle data
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Link'
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '404':
          description: Vehicle or Service Owner not found
        '500':
          description: Something went wrong with the request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    patch:
      tags:
        - service-owner
      summary: update portion of the vehicle, i.e. Plate number only.
      operationId: patchServiceOwnersVehicle
      parameters:
        - name: serviceOwnerId
          description: ID of the service owner whose vehicles will be retrieved
          required: true
          in: path
          schema:
            type: integer
            format: int64
        - name: vehicleId
          description: ID of the vehicle to retrieve
          required: true
          in: path
          schema:
            type: integer
            format: int64
      requestBody:
        description: Patch Request of the Vehicle Details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/PatchRequest'
        required: true
      x-codegen-request-body-name: patchTicketRequest
      responses:
        '200':
          description: Vehicle updated. Returns link to the vehicle data
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Link'
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '404':
          description: Vehicle or Service Owner not found
        '500':
          description: Something went wrong with the request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service-owners/{servceOwnerId}/vehicles/requestPass:
    post:
      tags:
        - service-owner
      summary: Registers Service Owners vehicle pass request
      operationId: registerVehiclesPass
      parameters:
        - name: serviceOwnerId
          in: path
          schema:
            type: integer
            format: int32
            description: service owners primary key
      requestBody:
        description: Vechicle Rapid Pass Registration Request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehicleRapidPass'
          application/xml:
            schema:
              $ref: '#/components/schemas/VehicleRapidPass'
        required: true
      responses:
        '201':
          description: Vehicle Pass is registered. Returns link to registered vehicle pass request.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/LinkCollection'
            application/json:
              schema:
                $ref: '#/components/schemas/LinkCollection'
        '404':
          description: Vehicle or Service Owner not found
        '500':
          description: Something went wrong with the request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /individuals/requestPass:
    post:
      summary: Register one or more individuals
      tags:
        - individual
      operationId: registerIndividualPasses
      requestBody:
        description: An array of containing individuals passes  to be registered
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndividualRapidPassCollection'
          application/xml:
            schema:
              $ref: '#/components/schemas/IndividualRapidPassCollection'
        required: true
      responses:
        '201':
          description: Individual Pass is registered. Returns links to registered individual pass data.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/LinkCollection'
            application/json:
              schema:
                $ref: '#/components/schemas/LinkCollection'
        '500':
          description: Something went wrong with the request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /individuals/{individualId}/updatePass:
    put:
      summary: Update Individual Pass
      tags:
        - individual
      operationId: updateIndividualPass
      parameters:
        - name: individualId
          in: path
          schema:
            type: integer
            format: int32
            description: Individual pass' ID
      requestBody:
        description: Individual pass data that will replace the old data. It also sets the status of the pass for Review
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndividualRapidPass'
          application/xml:
            schema:
              $ref: '#/components/schemas/IndividualRapidPass'
        required: true
      responses:
        '202':
          description: Individual Pass is updated. Returns link to updated individual pass data.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Link'
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '500':
          description: Something went wrong with the request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    patch:
      summary: Update Partial information about an Individual Pass
      tags:
        - individual
      operationId: patchIndividualPass
      parameters:
        - name: individualId
          in: path
          schema:
            type: integer
            format: int32
            description: Individual pass' ID
      requestBody:
        description: Request to Patch the Individual Pass
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/PatchRequest'
        required: true
      responses:
        '202':
          description: Individual Pass is updated. Returns link to updated individual pass data.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/Link'
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '500':
          description: Something went wrong with the request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    ServiceOwnersCollection:
      type: array
      items:
        $ref: '#/components/schemas/ServiceOwner'

    ServiceOwner:
      allOf:
        - $ref: '#/components/schemas/RapidPassUser'
      type: object
      properties:
        vehicles:
          $ref: '#/components/schemas/VehicleCollection'
        documents:
          $ref: '#/components/schemas/DocumentCollection'
      xml:
        name: service-owner

    AddressCollection:
      description: List of Addresses
      type: array
      items:
        - $ref: '#/components/schemas/Address'

    Address:
      type: object
      properties:
        street:
          type: string
          description: street address
          example: 1 out of nowhere
        city:
          type: string
          description: city
          example: sin city
        state:
          type: string
          description: state
          example: state of the nation
        zip:
          type: string
          description: zip code
          example: 12343D
        country:
          $ref: '#/components/schemas/Country'
      xml:
        name: Address

    Country:
      type: object
      properties:
        code:
          type: string
          description: Country Code
          example: PH
        name:
          type: string
          description: Country name
          example: Philippines
      xml:
        name: Country

    VehicleCollection:
      type: array
      items:
        $ref: '#/components/schemas/Vehicle'
      xml:
       name: vehicles

    Vehicle:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/PrimaryKey'
        serviceOwnerLink:
          $ref: '#/components/schemas/Link'
        brand:
          type: string
          description: Brand of the vehicle
        model:
          type: string
          description: Model of the vehicle
          example: CX-3 AWD 2018
        plateNumber:
          type: string
          description: Plate number of the vehicle
        orNumber:
          type: string
          description: Official Receipt of the vehicle registration
        crNumber:
          type: string
          description: Certificate of Registration Number of the vehicle.
        photo:
          type: string
          description: Base64 image format

      xml:
        name: vehicle

    CheckpointCollection:
      description: An array of Checkpoint
      type: array
      items:
        $ref: '#/components/schemas/Checkpoint'
      xml:
        name: checkpoints

    Checkpoint:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/PrimaryKey'

        name:
          type: string
          description: Name of the checkpoint
          example: Alabang SLEX Checkpoint 01

        address:
          $ref: '#/components/schemas/Address'

        location:
          $ref: '#/components/schemas/Location'

      xml:
        name: checkpoint

    Location:
      type: object
      properties:
        longitude:
          type: number
          format: float
          example: 121.003615

        latitude:
          type: number
          format: float
          example: 14.519780
      xml:
        name: location

    AccessType:
      type: string
      enum:
        - M: Medical
        - B: Basic Service
        - P: Police / AFP
        - C: Civillian Entry
        - F: Freight and Logistics
        - V: VIP
        - O: Others

    DocumentCollection:
      type: array
      items:
        $ref: '#/components/schemas/Document'
      xml:
        name: documents

    Document:
      description: Document that is submitted when applying for an Rapid Pass
      type: object
      properties:
        name:
          type: string
          description: Name of the document presented
          example: Certificate of Vehicle Registration (CR)
        image:
          type: string
          description: Base64 encoded image of the document
      xml:
        name: document

    ErrorResponse:
      type: object
      properties:
        errorKey:
          type: string
          description: error key that can be used in error bundle message
          example: invalid.data
        errorMessage:
          type: string
          description: user readable error message.
          example: Invalid data
        fieldErrors:
          type: array
          items:
            $ref: '#/components/schemas/FieldError'
      xml:
        name: error-response

    FieldError:
      type: object
      properties:
        fieldName:
          type: string
          description: field or attribute name in error.
          example: address.street
        fieldValue:
          type: string
          description: value of the field that is causing error
          example: nobody street
        fieldErrorKey:
          type: string
          description: bundle error key that can be used by UI to display the proper
            error
          example: invalid.address.street
        fieldErrorMessage:
          type: string
          description: User readable error message specific to the field
          example: Invalid street in address
      xml:
        name: field-error

    LinkCollection:
      type: array
      items:
        $ref: '#/components/schemas/Link'
      xml:
        name: links

    Link:
      type: object
      properties:
        href:
          type: string
          example: /{resource} . . .
        templated:
          type: boolean
      xml:
        name: link

    PrimaryKey:
      type: integer
      format: int64
      description: Primary Key identifier of the resource
      example: 223234234

    VehicleRapidPass:
      description: Details about the vehicle applied for the Vehicle Rapid Pass.
      type: object
      properties:
        id:
          $ref: '#/components/schemas/PrimaryKey'
        accessType:
          $ref: '#/components/schemas/AccessType'
        origin:
          $ref: '#/components/schemas/Address'
        destinations:
          $ref: '#/components/schemas/Address'
        checkpoints:
          $ref: '#/components/schemas/CheckpointCollection'
        authorizedDriver:
          $ref: '#/components/schemas/VehicleDriver'
        vehicle:
          $ref: '#/components/schemas/Vehicle'
        additionalCrewMembers:
          $ref: '#/components/schemas/VehicleCrewCollection'
        status:
          $ref: '#/components/schemas/RapidPassStatus'
        approval:
          $ref: '#/components/schemas/RapidPassApproval'

      xml:
        name: vehicle-pass

    VehicleDriver:
      description: An individual who applied for an Rapid Pass with a role of a driver. Additional data element is added.
      allOf:
        - $ref: '#/components/schemas/IndividualRapidPass'
      type: object
      properties:
        driversLicenseNo:
          type: string
          description: Driver's License Number
        driversLicenseValidFrom:
          type: string
          format: date
          description: Validity of the driver's license
        driversLicenseValidUntil:
          type: string
          format: date
          description: Validity of the driver's license
      xml:
        name: vehicle-driver

    VehicleCrewCollection:
      description: A group of individuals riding on the vehicle who are Rapid Pass holder
      type: array
      items:
        $ref: '#/components/schemas/IndividualRapidPass'
      xml:
        name: vehicle-crew

    IndividualRapidPassCollection:
      type: array
      items:
        $ref: '#/components/schemas/IndividualRapidPass'

    IndividualRapidPass:
      allOf:
        - $ref: '#/components/schemas/RapidPassUser'
      type: object
      description: Detail about the individual who applied for the Rapid Pass.
      properties:
        accessType:
          $ref: '#/components/schemas/AccessType'
        origin:
          $ref: '#/components/schemas/Address'
        destinations:
          $ref: '#/components/schemas/AddressCollection'
        checkpoints:
          $ref: '#/components/schemas/CheckpointCollection'
        status:
          $ref: '#/components/schemas/RapidPassStatus'
        approval:
          $ref: '#/components/schemas/RapidPassApproval'
      xml:
       name: individual-rapid-pass

    WorkCategory:
      description: Work Category
      type: object
      properties:
        id:
          $ref: '#/components/schemas/PrimaryKey'
        categoryName:
          type: string
          description: Work category name clearly indicating the type of work done.
        description:
          type: string
          description: More detailed description of the work category
      xml:
        name: work-category

    RapidPassUser:
      type: object
      description: Basic Data about the Rapid Pass user. This will be the base entity for all individuals who will use and have different roles in the Rapid Pass
      properties:
        id:
          $ref: '#/components/schemas/PrimaryKey'
        firstName:
          type: string
          description: Firstname of the rapid pass holder
          example: Joana
        middleName:
          type: string
          description: Firstname of the rapid pass holder
          example: Joana
        lastName:
          type: string
          description: Lastname of the rapid pass holder
          example: Dipahuhuli
        emailAddress:
          type: string
          format: email
          description: Email of the rapid pass holder.
        mobilePhoneNumber:
          type: string
          description: Mobile phone number
        company:
          type: string
          description: Company Name
        workCategory:
          $ref: '#/components/schemas/WorkCategory'
        identificationCardNumber:
          type: string
          description: ID number presented
          example: 95-001
        identificationcardType:
          type: string
          description: Type of the ID
          example: Company ID
        address:
          $ref: '#/components/schemas/Address'
        documentsPresented:
          $ref: '#/components/schemas/DocumentCollection'

    ApprovingAuthority:
      allOf:
        - $ref: '#/components/schemas/RapidPassUser'
      type: object
      description: Approving authority details
      properties:
        role:
          type: string
          description: Role or title of the approving person relative to the organizaton or task force.
          example: Head of Infectious Disease Outbreak Control
        organization:
          type: string
          description: Name of the approving organization or task force
          example: AFP
      xml:
        name: approving-authority

    RapidPassApproval:
      type: object
      description: Approval detail of the Rapid Pass
      properties:
        id:
          $ref: '#/components/schemas/PrimaryKey'
        qrCode:
          $ref: '#/components/schemas/QRCode'
        effectivityDate:
          type: string
          format: date
          description: Effective date that the pass is active. Minimum is today + 1
          example: 2020-04-01
        duration:
          type: integer
          format: int32
          description: Duration in hours that the pass can be active relative to its effectivity date
        approvingEntity:
          $ref: '#/components/schemas/ApprovingAuthority'


    RapidPassStatus:
      type: string
      description: Rapid Pass Status
      enum:
        - F: For Review
        - A: Approved
        - D: Denied
        - R: Revoked

    QRCode:
      type: string
      description: Base64 QR Code generated for the Rapid Pass holder

    PatchRequest:
      type: array
      items:
        $ref: '#/components/schemas/PatchDocument'
    PatchDocument:
      required:
        - op
        - path
      type: object
      properties:
        op:
          type: string
          description: The operation to be performed
          enum:
            - add
            - remove
            - replace
            - move
            - copy
            - test
        path:
          type: string
          description: A JSON-Pointer
        value:
          type: object
          properties: {}
          description: The value to be used within the operations.
        from:
          type: string
          description: A string containing a JSON Pointer value
      description: A JSONPatch document as defined by RFC 6902




