openapi: 3.0.1
info:
  title: Devcon RapidPass
  description: Api Documentation for the Rapid Pass API.
  version: 1.0.0
servers:
  - url: 'https://api.rapidpass.com'
tags:
  - name: service-owner
    description: Everything about Service Owners resources

paths:
  /service-owners/register:
    post:
      tags:
        - service-owner
      summary: Register data of the Service Owners
      operationId: registerServiceOwners
      parameters:
        - name: serviceOwners
          description: An array of Service Owners to be saved
          required: true
          in: body
          schema:
            $ref: '#/components/schemas/ServiceOwnersCollection'
      responses:
        '201':
          description: Data is saved.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/LinkCollection'
            application/json:
              schema:
                $ref: '#/components/schemas/LinkCollection'
        '500':
          description: Something went wrong with the request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /service-owners/{servceOwnerId}/vehicle-pass/register:
    post:
      tags:
        - service-owner
      summary: Registers Service Owners vehicle pass request
      operationId: registerVehiclePass
      parameters:
        - name: serviceOwnerId
          in: path
          schema:
            type: integer
            format: int32
            description: service owners primary key
      requestBody:
        description: An array of vehicle pass request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehiclePass'
          application/xml:
            schema:
              $ref: '#/components/schemas/VehiclePass'
        required: true
      responses:
        '201':
          description: Vehicle Pass is registered. Returns link to registered vehicle pass request.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/LinkCollection'
            application/json:
              schema:
                $ref: '#/components/schemas/LinkCollection'
        '500':
          description: Something went wrong with the request
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    ServiceOwnersCollection:
      type: array
      items:
        $ref: '#/components/schemas/ServiceOwner'

    ServiceOwner:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/PrimaryKey'
        name:
          type: string
          description: Name of the Service Owner
          example: Juan Dela Cruz
        email:
          type: string
          format: email
          description: Email of the Service Owner
          example: juan.delacruz@rapidpass.com
        contactNumber:
          type: string
          description: Phone number
          example: +63 988 554 2222
        company:
          type: string
          description: Company name of the Service Owner

        destination:
          $ref: '#/components/schemas/Address'
        origin:
          $ref: '#/components/schemas/Address'
        vehicles:
          $ref: '#/components/schemas/VehicleCollection'
        accessType:
          $ref: '#/components/schemas/AccessType'
        documents:
          $ref: '#/components/schemas/DocumentCollection'
      xml:
        name: service-owner

    Address:
      type: object
      properties:
        street:
          type: string
          description: street address
          example: 1 out of nowhere
        city:
          type: string
          description: city
          example: sin city
        state:
          type: string
          description: state
          example: state of the nation
        zip:
          type: string
          description: zip code
          example: 12343D
        country:
          $ref: '#/components/schemas/Country'
      xml:
        name: Address

    Country:
      type: object
      properties:
        code:
          type: string
          description: Country Code
          example: PH
        name:
          type: string
          description: Country name
          example: Philippines
      xml:
        name: Country

    VehicleCollection:
      type: array
      items:
        $ref: '#/components/schemas/Vehicle'
      xml:
       name: vehicles

    Vehicle:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/PrimaryKey'
        serviceOwnerId:
          $ref: '#/components/schemas/PrimaryKey'
        brand:
          type: string
          description: Brand of the vehicle
        model:
          type: string
          description: Model of the vehicle
          example: CX-3 AWD 2018
        plateNumber:
          type: string
          description: Plate number of the vehicle
        orNumber:
          type: string
          description: Official Receipt of the vehicle registration
        crNumber:
          type: string
          description: Certificate of Registration Number of the vehicle.
        photo:
          type: string
          description: Base64 image format
        checkpoints:
          $ref: '#/components/schemas/CheckpointCollection'

      xml:
        name: vehicle

    CheckpointCollection:
      description: An array of Checkpoint
      type: array
      items:
        $ref: '#/components/schemas/Checkpoint'
      xml:
        name: checkpoints

    Checkpoint:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/PrimaryKey'

        name:
          type: string
          description: Name of the checkpoint
          example: Alabang SLEX Checkpoint 01

        address:
          $ref: '#/components/schemas/Address'

        location:
          $ref: '#/components/schemas/Location'
      xml:
        name: checkpoint

    Location:
      type: object
      properties:
        longitude:
          type: number
          format: float
          example: 121.003615

        latitude:
          type: number
          format: float
          example: 14.519780
      xml:
        name: location

    AccessType:
      type: string
      enum:
        - M: Medical
        - B: Basic Service
        - P: Police / AFP
        - C: Civillian Entry
        - F: Freight and Logistics
        - V: VIP
        - O: Others

    DocumentCollection:
      type: array
      items:
        $ref: '#/components/schemas/Document'
      xml:
        name: documents

    Document:
      description: Document that is submitted when applying for an Rapid Pass
      type: object
      properties:
        name:
          type: string
          description: Name of the document presented
          example: Certificate of Vehicle Registration (CR)
        image:
          type: string
          description: Base64 encoded image of the document
      xml:
        name: document

    ErrorResponse:
      type: object
      properties:
        errorKey:
          type: string
          description: error key that can be used in error bundle message
          example: invalid.data
        errorMessage:
          type: string
          description: user readable error message.
          example: Invalid data
        fieldErrors:
          type: array
          items:
            $ref: '#/components/schemas/FieldError'
      xml:
        name: error-response

    FieldError:
      type: object
      properties:
        fieldName:
          type: string
          description: field or attribute name in error.
          example: address.street
        fieldValue:
          type: string
          description: value of the field that is causing error
          example: nobody street
        fieldErrorKey:
          type: string
          description: bundle error key that can be used by UI to display the proper
            error
          example: invalid.address.street
        fieldErrorMessage:
          type: string
          description: User readable error message specific to the field
          example: Invalid street in address
      xml:
        name: field-error

    LinkCollection:
      type: array
      items:
        $ref: '#/components/schemas/Link'
      xml:
        name: links

    Link:
      type: object
      properties:
        href:
          type: string
          example: /{resource} . . .
        templated:
          type: boolean
      xml:
        name: link

    PrimaryKey:
      type: integer
      format: int64
      description: Primary Key identifier of the resource
      example: 223234234

    VehiclePass:
      description: Details about the vehicle applied for the Vehicle Rapid Pass.
      type: object
      properties:
        id:
          $ref: '#/components/schemas/PrimaryKey'
        accessType:
          $ref: '#/components/schemas/AccessType'
        rapidPassApproval:
          $ref: '#/components/schemas/RapidPassApproval'
        authorizedDriver:
          $ref: '#/components/schemas/VehicleDriver'
        additionalCrewMembers:
          $ref: '#/components/schemas/VehicleCrewCollection'

      xml:
        name: vehicle-pass

    VehicleDriver:
      description: An individual who applied for an Rapid Pass with a role of a driver. Additional data element is added.
      allOf:
        - $ref: '#/components/schemas/RapidPassHolder'
      type: object
      properties:
        driversLicenseNo:
          type: string
          description: Driver's License Number
        driversLicenseValidFrom:
          type: string
          format: date
          description: Validity of the driver's license
        driversLicenseValidUntil:
          type: string
          format: date
          description: Validity of the driver's license
      xml:
        name: vehicle-driver

    VehicleCrewCollection:
      description: A group of individuals riding on the vehicle who are Rapid Pass holder
      type: array
      items:
        $ref: '#/components/schemas/RapidPassHolder'
      xml:
        name: vehicle-crew

    RapidPassHolder:
      allOf:
        - $ref: '#/components/schemas/RapidPassUser'
      type: object
      description: Detail about the individual who applied for the Rapid Pass.
      properties:
        qrCode:
          type: string
          description: QR Code generated for the Rapid Pass holder
        status:
          description: Rapid Pass Status
          type: string
          enum:
            - F: For Review
            - A: Approved
            - D: Denied
            - R: Revoked
        approval:
          $ref: '#/components/schemas/RapidPassApproval'
      xml:
       name: rapid-pass-holder

    WorkCategory:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/PrimaryKey'
        categoryName:
          type: string
          description: Work category name clearly indicating the type of work done.
        description:
          type: string
          description: More detailed description of the work category
      xml:
        name: work-category

    RapidPassUser:
      type: object
      description: Basic Data about the Rapid Pass user. This will be the base entity for all individuals who will use and have different roles in the Rapid Pass
      properties:
        id:
          $ref: '#/components/schemas/PrimaryKey'
        firstName:
          type: string
          description: Firstname of the rapid pass holder
          example: Joana
        lastName:
          type: string
          description: Lastname of the rapid pass holder
          example: Dimaunahan
        emailAddress:
          type: string
          format: email
          description: Email of the rapid pass holder.
        mobilePhoneNumber:
          type: string
          description: Mobile phone number
        company:
          type: string
          description: Company Name
        workCategory:
          $ref: '#/components/schemas/WorkCategory'
        identificationCardNumber:
          type: string
          description: ID number presented
          example: 95-001
        identificationcardType:
          type: string
          description: Type of the ID
          example: Company ID
        address:
          $ref: '#/components/schemas/Address'
        documentsPresented:
          $ref: '#/components/schemas/DocumentCollection'

    ApprovingAuthority:
      allOf:
        - $ref: '#/components/schemas/RapidPassUser'
      type: object
      description: Approving authority details
      properties:
        id:
          $ref: '#/components/schemas/PrimaryKey'
        name:
          type: string
          description: Name of the approving person.
          example: Lt. Col. Jane Dela Cruz

        role:
          type: string
          description: Role or title of the approving person relative to the organizaton or task force.
          example: Head of Infectious Disease Outbreak Control

        organization:
          type: string
          description: Name of the approving organization or task force
          example: AFP
      xml:
        name: approving-authority

    RapidPassApproval:
      type: object
      description: Approval detail of the Rapid Pass
      properties:
        id:
          $ref: '#/components/schemas/PrimaryKey'
        effectivityDate:
          type: string
          format: date
          description: Effective date that the pass is active. Minimum is today + 1
          example: 2020-04-01
        duration:
          type: integer
          format: int32
          description: Duration in hours that the pass can be active relative to its effectivity date
        approvingEntity:
          $ref: '#/components/schemas/ApprovingAuthority'




